.idea/

build/
out/
bin/
tmp/

*.exe
*.dll
*.so
*.dylib

*.o
*.obj

*.a
*.lib

*.d
.dep/

*.gcda
*.gcno
*.lo
*.la
*.pyc

html/
latex/

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

tags
TAGS

.DS_Store

inputs/